body {
    background-image: url('../Images/DL_NN.png');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center; 
}

.navbar {
    transition: all 0.4s ease;
    padding: 1rem 2rem;
}
/* Shrunk navbar height */
.navbar.shrink {
    padding: 0.25rem 2rem;
    background-color: rgba(0, 0, 0, 0.8); /* Adjust background color as needed */
}
